p {
  font-size: 14px;
  color: color(secondary);
}

h1 {
  font-style: bold;
  font-size: 22px;
  color: color(secondary);
}

h2 {
  font-style: bold;
  font-size: 18px;
  color: color(secondary);
}

.donation-header {
  color: #354463;
  padding: 1em 0px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .donation-header h1 {
    font-size: 36px;
  }
  .donation-header h2 {
    font-size: 22px;
  }
  .donation-header p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1120px) {
  .donation-header h1 {
    font-size: 44px;
  }
  .donation-header h2 {
    font-size: 28px;
  }
  .donation-header p {
    font-size: 20px;
  }
}

.donation-form {
  padding-top: 6em;
  padding-bottom: 6em;
  background-image: url("../img/donation/annie-spratt-427340-unsplash@2x.png");
  background-size: 2400px;
  color: white;
}

.donation-form h1, .donation-form h2 {
  color: white;
}

.donation-form .logo p {
  color: white;
}

.donation-form form {
  background-color: #354463;
  z-index: 1;
  padding: 0px 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[11];
      grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 1em;
}

.donation-form form div {
  width: 100%;
}

.donation-form form .state-zip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.donation-form form .address,
.donation-form form .email,
.donation-form form .credit-card,
.donation-form form input[name="Street Address"],
.donation-form form input[name="Email"],
.donation-form form input[name="card number"],
.donation-form form input[name="card number"],
.donation-form form .guide,
.donation-form form .button {
  grid-column: span 2;
  width: 100%;
}

.donation-form form input[name="State"],
.donation-form form input[name="Zip"],
.donation-form form input[type="date"],
.donation-form form input[name="CVC"] {
  width: 40%;
}

.donation-form form h1 {
  grid-column: span 2;
}

.donation-form form div {
  position: relative;
}

.donation-form form div label {
  font-size: 16px;
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  color: #C1F7D5;
  -webkit-transition: 1s;
  transition: 1s;
}

.donation-form form .state-label {
  position: relative;
}

.donation-form form select {
  background-color: #354463;
  outline: none;
  border: none;
  color: white;
  width: 100%;
}

.donation-form form input {
  height: 2em;
  width: 100%;
  border: none;
  background-color: #354463;
  border-bottom: 2px solid white;
}

.donation-form form input:focus ~ label {
  top: -20px;
  font-size: 11px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid #adacac;
}

.donation-form form input:valid ~ label {
  top: -20px;
  font-size: 11px;
  font-weight: bold;
  border-bottom: 2px solid #adacac;
}

.donation-form form input:focus {
  outline: none;
  border-bottom: 2px solid #C1F7D5;
}

.donation-form form a {
  color: #C1F7D5;
}

@media screen and (min-width: 768px) {
  .donation-form h1 {
    font-size: 36px;
  }
  .donation-form h2 {
    font-size: 22px;
  }
  .donation-form p {
    font-size: 16px;
  }
  .donation-form .logo p {
    font-size: 44px;
    line-height: 44px;
  }
  .donation-form form .button {
    grid-column: span 1;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    height: 56px;
  }
  .donation-form form .button p {
    font-size: 22px;
  }
  .donation-form form a {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .donation-form form label {
    font-size: 20px;
  }
  .donation-form form input:focus ~ label {
    font-size: 14px;
  }
  .donation-form form input:valid ~ label {
    font-size: 14px;
  }
}

@media screen and (min-width: 1120px) {
  .donation-form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6fr 4fr;
        grid-template-columns: 6fr 4fr;
    grid-column-gap: 4em;
  }
  .donation-form h1 {
    font-size: 44px;
  }
  .donation-form h2 {
    font-size: 28px;
  }
  .donation-form p {
    font-size: 20px;
  }
  .donation-form .logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .donation-form .logo p {
    font-size: 72px;
    line-height: 72px;
  }
}
/*# sourceMappingURL=donation.css.map */