.donation-form {}

p {
    font-size: 14px;
    color: color(secondary);
}

h1 {
    font-style: bold;
    font-size: 22px;
    color: color(secondary);
}

h2 {
    font-style: bold;
    font-size: 18px;
    color: color(secondary);
}

$desktop:1120px;
$tablet:768px;

@mixin desktop {
    @media screen and (min-width:$desktop) {
        h1 {
            font-size: 44px;
        }

        h2 {
            font-size: 28px;
        }

        p {
            font-size: 20px;
        }

        @content
    }
}

@mixin tablet {

    @media screen and (min-width:$tablet) {
        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 22px;
        }

        p {
            font-size: 16px;
        }

        @content
    }
}


.donation-header {
    
    color: #354463;
    padding: 1em 0px;
    text-align: center;

    @include tablet {}

    @include desktop {}
}

.donation-form {
    padding-top:6em;
    padding-bottom:6em;
    background-image: url("../img/donation/annie-spratt-427340-unsplash@2x.png");
    background-size: 2400px; 
    color:white;
    h1,h2{
        color:white;
    }
    .logo{
        p{
        color:white
        }
    }
    form {
        background-color: #354463;
        z-index: 1;
        padding: 0px 2em;
        box-sizing: border-box;
        width: 100%;
        div {
            width: 100%;
        }
        .state-zip{
            display:flex;
            justify-content: end;
        }
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(11, 1fr);
        grid-column-gap: 1em;
        .address,
        .email,
        .credit-card,
        input[name="Street Address"],
        input[name="Email"],
        input[name="card number"],
        input[name="card number"],
        .guide,
        .button {
            grid-column: span 2;
            width: 100%;
        }

        input[name="State"],
        input[name="Zip"],
        input[type="date"],
        input[name="CVC"] {
            width: 40%;
        }

        h1 {
            grid-column: span 2;
        }

        div {
            position: relative;

            label {
                font-size: 16px;
                z-index: 0;
                position: absolute;
                top:0px;
                left: 0px;
                color: #C1F7D5;
                transition: 1s;
            }
        }
        .state-label{
            position: relative;
        }
        select{
            background-color: #354463;
            outline:none;
            border:none;
            color:white;
            width: 100%;
        }

        input {
            height:2em;
            width: 100%;
            border: none;
            background-color:#354463;
            border-bottom: 2px solid white;
        }

        
        input:focus ~ label{
            top:-20px;
            font-size: 11px;
            text-transform: uppercase;
            color:white;
            font-weight: bold;
            border-bottom: 2px solid rgb(173, 172, 172);
        }
        input:valid ~ label{
            top:-20px;
            font-size: 11px;
            font-weight: bold;
            border-bottom: 2px solid rgb(173, 172, 172);
        }

        input:focus{
            outline: none;
            border-bottom: 2px solid #C1F7D5;
        }
        a{
            color: #C1F7D5;
        }
        
    }
    
@include tablet {

        .logo {
            p {
                font-size: 44px;
                line-height: 44px;
            }
        }
        form{
            .button{
                grid-column: span 1;
                order:3;
                p{
                    font-size: 22px
                }
                height: 56px;
            }
            a{
                order:2;
            }
            label {
                font-size: 20px;
            }
            input:focus ~ label{
                font-size: 14px
            }
            input:valid ~ label{
                font-size: 14px;
        }

    }
}

    @include desktop {
        display:grid;
        grid-template-columns: 6fr 4fr;
        grid-column-gap: 4em; 
        .logo {
            order:2;
            p {
                font-size: 72px;
                line-height: 72px;
            }
        }
    }
    
}