$headerRow1: 128/200*100%;
$headerRow2: 72/200*100%;
$mobilePar:(climateHeadRow:51.35%,
    climateIssueRow:40.54%,
    climate-last-empty-block:8.11%);
$tabletPar:(headerRow1: 81.8%,
    headreRow2: 18.1%,
    headerCol1: 52.65%,
    headerCol2: 47.35%);
$desktopPar:(headerCol1: 34.28%,
    headerCol2: 45.08%,
    headerCol3:20.61%);
$color:(primary:#C1F7D5,
    secondary:#354463,
    cardColorPrimary:#354463,
    cardColorSecondary:#ffffff,
);

@function color($color-name) {
    @return map-get($color, $color-name);
}

$tablet:768px;

@mixin tablet {
    @media screen and (min-width:$tablet) {
        h1 {
            font-size: 36px; 
        }
    
        h2 {
            font-size: 22px;   
        }
    
        p {
            font-size: 16px; 
        }
        @content
    }
}

$desktop:1120px;
$tablet:768px;

@mixin desktop {
    @media screen and (min-width:$desktop) {
        h1 {
            font-size: 44px;
        }

        h2 {
            font-size: 28px;
        }

        p {
            font-size: 20px;
        }
        @content
    }
}

section {
    padding: 0px 8.51%;
}

body {
    margin: 0px;
    font-family: Helvetica;
}

p {
    font-size: 14px;
    color: color(secondary);
}

h1 {
    font-style: bold;
    font-size: 22px;
    color: color(secondary);
}

h2 {
    font-style: bold;
    font-size: 18px;
    color: color(secondary);
}

.button {
    background-color: color(primary);
    border-radius: 5% / 50%;
    display: flex;
    height: 40px;
    font-weight: bold;
    font-size: 18px;

    p {
        margin: auto;
    }
}

.fit--button {
    max-width: fit-content;
    border-radius: 15%/50%;
    padding-left: 1em;
    padding-right: 1em;
}

.button--secondary {
    width: 48.71%;
    max-width: 190px;
    border-radius: 15% / 50%;
    justify-self: center;
}

.card {
    width: 51.28%;
    max-width: 200px;
    height: 40px;
    align-self: center;
    background-color: color(cardColorPrimary);
    position: relative;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-around;

    p {
        align-self: center;
        color:white;
    }
}

.card--inside {
    width: 51.28%;
    height: 40px;
    align-self: center;
    background-color: color(cardColorSecondary);
    position: relative;
    transform: unset;
    display: flex;
    justify-content: space-around;

    p {
        align-self: center;
        color: color(secondary);
    }
}

.twitter-icon {
    background-color: #C1F7D5;
    padding: 0.5em;
    border-radius: 50%/50%;
}

.facebook-icon {
    background-color: #C1F7D5;
    padding: 0.3em 0.7em;
    border-radius: 50%/50%;
}

.line-sep {
    display: none;
}
.logo{
    p {
        margin-top: 0.1em;
        font-family: FloodRomanItalic;
        font-size: 32px;
        line-height: 32px;
    }
}

.header {
    padding-left: 8.51%; //32/376*100 where 32 px is given padding and 376 is 
    //width , container width is 312 here we are not following border box model
    //so padding will add to the heading container, and the resultant will be 
    //(8.51*x/100)px; where x is future width of the header container in this case it is 
    //376.
    padding-right: 8.51%;
    background-color: white;
    display: grid;
    grid-template: auto auto/ 64.102% 35.8%;
    margin-bottom: 1.5em;
    .title {
        margin: 0px;
        width: 62.5%;
        position: relative;
        top: 45/128*100%;
        align-self: flex-start;

    }

    .menu {
        margin: 0px;
        margin-top:1.5em; 
        padding-left: unset;
        list-style: none;
        align-self: flex-start;
        a {
            color: color(secondary);
            font-size: 14px;
            font-weight: lighter;
            color: color(secondary);
        }
    }

    .donate-today-button {
        grid-column: span 2;
    }

    
        @include tablet {
        padding-left: 8.3333%;
        padding-right: 8.3333%;
        height: 88px; //here i have taken the content height;
        //it is recommended to take the complete height;
        grid-template: #{map-get($tabletPar,headerRow1)} #{map-get($tabletPar,headreRow2)} / #{map-get($tabletPar,headerCol1)} #{map-get($tabletPar,headerCol2)};
        padding-top: 2.604%;
        padding-bottom: 2.604%;

        .title {
            margin: 0px;
            width: 62.5%;
            position: static;
            align-self: flex-start;

        }

        .menu {
            order: 3;
            margin: 0px;
            position: static;
            padding-left: unset;
            list-style: none;
            display: flex;
            justify-content: space-between;
        }

        .donate-today-button {
            width: 46.2%;
            order: 2;
            justify-self: center;
            align-self: center;
            grid-row: span 2;
            grid-column: span 1;
            border-radius: 10% / 50%;
            margin-left: 53.79%;
        }

        .menu li {
            display: inline;
        }
    }

    @include desktop {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 11.11%;
        padding-right: 11.11%;
        height: 128px; //actual height is given and not the content height
        display: grid;
        grid-template: 100% / #{map-get($desktopPar,headerCol1)} #{map-get($desktopPar,headerCol2)} #{map-get($desktopPar,headerCol3)};
        grid-gap: 0px;

        .title {
            width: inherit;
            align-self: center;
            justify-self: start;
        }

        .menu {
            order: 2;
            padding-left: unset;
            list-style: none;
            align-self: center;
        }

        .donate-today-button {
            width: 69.2%;
            margin-left: 0px;
            order: 3;
            grid-column: span 1;
            align-self: center;
            justify-self: self-end;
        }
    }
}
//climate change section
@font-face {
    font-family: FloodRomanItalic;
    src: url('../fonts/Flood.ttf') format('truetype'),
        /* Safari, Android, iOS */
}

.climate-change {
    padding-left: 8.51%;
    padding-right: 8.51%;
    background-image: url("../img/annie-spratt-135307-unsplash.jpg");
    background-size: 1200px;
    background-position: left 41% top -200px;
    display: grid;
    grid-template-rows: 1fr 0.9fr 0.1fr;
   

    .climate-change-heading p {
        font-family: FloodRomanItalic;
        font-size: 44px;
        line-height: 44px;
    }

    .climate-para {
        margin-top: 3em;
        margin-bottom: 0.5em;
        background-color: #eee;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        position: relative;
        .card{
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 0px;
        }
        a{
            color: #354463;
        }
       
        div:nth-child(2) {
            box-sizing: border-box;
         position: relative;
            font-size: 22px;
            height: 32.5%;
            padding: 1em;
            text-align: center;
        }

        div:nth-child(3) {
            box-sizing: border-box;
            position: relative;
            padding: 1em;
            text-align: center;
            padding-bottom: 2em;
            font-size: 14px;
        }
    }

    @include tablet {
        padding-left: 8.3333%;
        padding-right: 8.3333%;
        grid-template-rows: 1fr 0.8fr 0.2fr;
        background-size: 1400px;
        background-position: left 20% top -200px;
        .climate-para {
            .card{
                margin-left: 2.5em;
            }
        }
    }

    @include desktop {
        padding-left: 11.11%;
        padding-right: 11.11%;
        display: grid;
        grid-template: 100% / 40% 50%;
        grid-column-gap:10em;
        background-size: 2700px;
        background-position: left 10% top -300px;
        .climate-change-heading {
            margin-top:3em;
            box-sizing: border-box;
            align-self: flex-start;
            padding-top: 0.6em;
            padding-left: 2em;
            order: 2;

            p {
                font-family: FloodRomanItalic;
                font-size: 72px;
                line-height: 72px;
            }
        }

        .climate-para {
            order: 1;
            box-sizing: border-box;
            justify-self: end;
            align-self: center;
            margin-top: 8em;
            margin-bottom: 8em;
        }
    }
}

//suggestion section
.suggestion {
    padding-left: 11.11%;
    padding-right: 11.11%;
    background-color: color(primary);
    height: 328px;
    display: grid;
    grid-template: 12% 36% 36% / 46% 46%;
    grid-gap: 8%;

    .card {
        grid-column: span 2;
        justify-self: center;
    }

    div h2 {
        margin: 0px;
    }

    //the tablet view is quite simialar
    @include desktop {
        height: 240px;
        display: grid;
        grid-template: 14% 61% / 20% 20% 20% 20%;
        grid-row-gap: 25%;
        grid-column-gap: unset;
        justify-content: space-between;

        .card {
            grid-column: span 4;
            justify-self: center;
        }

        div h2 {
            margin: 0px;
        }
    }
}

//what we do section css
.work {
    background-color: #354463;
    box-sizing: border-box;
    padding: 1em 8.51%;
    display: grid;
    grid-template-rows: .5fr 1fr 1fr 1fr;
    grid-gap: 5em;

    .work-mission div {
        margin: 0 auto;
        text-align: center;
        h1{
            color:white;
        }
    }
    

    img {
        width: 92%;
    }

    // .mission1 img{
    //     height:155.31px;//as it is faulty img with different ratio
    // }
    .mission {
        box-sizing: border-box;
        padding: 0px 1em;
        background-color: #FFFFFF;
        display: grid;
        grid-template-rows: auto 1fr 0.5fr;

        img {
            justify-self: center;
            position: relative;
            transform: translateY(-20%);
        }

        div {
            text-align: center;
            align-content: center;
            justify-self: center;
        }
    }



    @include tablet {
       

        .card--inside {
            width: 25%;
            height: 40px;
            align-self: center;
            background-color: color(cardColorSecondary);
            position: relative;
            transform: unset;
            display: flex;
            justify-content: space-around;

            p {
                align-self: center;
            }
        }

        .work-mission div {
            margin: unset;
            text-align: unset;
        }

        .mission {
            grid-template-rows:1fr 0.3fr;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1em;

            .para {
                //div:nth-child(1) is not working here
                grid-row: span 2;
                place-self: center;
            }
            .button{
                justify-self: end;
                margin-right: 1.5em;
            }
        }

    }

    @include desktop {
        h1 {
            font-size: 44px;
        }

        h2 {
            font-size: 28px;
        }

        p {
            font-size: 16px;
        }

        .card--inside {
            width: 25%;
            height: 40px;
            align-self: center;
            background-color: color(cardColorSecondary);
            position: relative;
            transform: unset;
            display: flex;
            justify-content: space-around;

            p {
                align-self: center;
            }
        }

        padding: 6em 11.11%;
        display: grid;
        grid-template-rows: .3fr .7fr;
        grid-auto-columns: 1fr 1fr 1fr;
        grid-gap: 5em;

        img {
            width: 100%;
        }

        .work-mission {
            grid-column: span 3;
        }

        .work-mission div {
            margin: unset;
            text-align: unset;
        }

        .mission {
            box-sizing: border-box;
            padding: 0px;
            background-color: #FFFFFF;
            grid-template-rows: auto 1fr 0.3fr;
            grid-template-columns: unset;
            grid-gap: unset;

            img {
                justify-self: center;
                position: relative;
                transform: translate(14%, -20%);
            }

            .para {
                h2{
                    margin-top: 0em;
                }
                grid-row: span 1;
            }

            div {
                padding: 0px 1em;
                text-align: unset;
                align-content: unset;
                justify-self: unset;
            }
        }
    }
}


.take-action {
    position: relative;
    background-image: url("../img/did-you-know-background.jpg");
    background-size: 1950px;
    background-position: left 46% top -150px;
    display: grid;
    grid-template-rows: 2.7fr repeat(4, 1fr);
    grid-column-gap: 1em;

    .button {
        max-width: fit-content;
        border-radius: 15%/50%;
        padding-left: 1em;
        padding-right: 1em;
    }

    .hunger-issue {
        position: relative;
        .heading {
            font-family: FloodRomanItalic;
            font-size: 44px;
            line-height: 44px;
        }
    }

    .card {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 0px;
        transform: translateY(-50%);
    }

    .did-you-know {
        position: relative;
        background-color: white;
        margin-bottom: 1em;
        padding:1em;
        display: grid;
        grid-template: 50% 50%/70% 30%;

        div {
            grid-row: span 2;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            img {
                align-self: center;
            }
        }
    }

    @include tablet {
        grid-template-columns:.7fr 1fr;
        grid-template-rows: repeat(4,1fr);
        padding:10% 8.3333%;
        .hunger-issue{
            grid-row: span 4;
        }

    }

    @include desktop {
        .did-you-know {
            padding: 0px 1em;
        }
    }
}

.stories {
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1.2fr 0.1fr;
    grid-row-gap: 2em;

    .story-head-img {
        position: relative;

        img {
            width: 100%;
        }

        .card {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 0px;
            p{
                color: white;
            }
        }

    }

    .stories-sec2 {
        background-color: #354463;
        padding: 2em;
        text-align: center;
        h1,p{
            color: white;
        }
    }

    @include tablet {
        grid-template-rows: 1fr 0.15fr 0.4fr auto; //doubtfull
        grid-template-columns: 0.15fr 1fr 0.15fr;
        grid-row-gap: unset;

        .story-head-img {
            grid-column: 1/3;
            grid-row: 1/3;
            position: relative;

            img {
                width: 100%;
            }

            .card {
                position: absolute;
                margin-left: 2em;
                margin-right: auto;
                left: 0;
                right: 0;
                top: 0px;
            }

        }

        .stories-sec2 {
            grid-row: 2/4;
            grid-column: 2/4;
            z-index: 1;
            background-color: #354463;
            padding: 2em;
            text-align: center;
            h1 {
                font-size: 22px;
            }
        }

        .button {
            margin-top: 3em;
            grid-row-start: 4;
            grid-column-start: 2;
            width: 156px;
            justify-self: unset;
        }
    }

    @include desktop {
        grid-template-rows: 0.33fr 1fr 0.33fr; //doubtfull
        grid-template-columns: 0.8fr 0.2fr 1fr;
        grid-row-gap: unset;

        .story-head-img {
            grid-column: 2/4;
            grid-row: 1/4;
            position: relative;

            img {
                width: 100%;
            }

            .card {
                position: absolute;
                margin-left: 2em;
                margin-right: auto;
                left: 2em;
                right: 0;
                top: 0px;
            }
        }

        .stories-sec2 {
            grid-row: 2/3;
            grid-column: 1/3;
            z-index: 1;
            background-color: #354463;
            padding: 2em;
            text-align: center;

            h1 {
                font-size: 44px;
            }
        }

        .button {
            margin-top: 3em;
            grid-row-start: 3;
            grid-column-start: 1;
            width: 156px;
            justify-self: start;
        }
    }
}

.news-events {
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: #354463;
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-gap: 4em;
    .heading {
        font-family: FloodRomanItalic;
        font-size: 44px;
        line-height: 44px;
        text-align: center;
        color: white;
    }
    .event-items {
        position: relative;
        display: flex;
        flex-direction: column;
        p{
            color: white;
        }
        h1{
            color: white;
            font-size: 44px;
        }
        img {
            width: 100%;
        }
        .button{
            p{
            color: color(secondary);
            }
        }

        .card {
            p{
            color:color(secondary);
            }
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 0px;
            transform:translateY(-50%);
        }

        div {
            text-align: center;
            align-self: center;
        }

    }

    @include tablet {
        padding-top: 3em;
        padding-bottom: 3em;
        grid-template-rows: 0.2fr 1fr 1fr;
        grid-gap: 4em;

        .button {
            justify-self: start;
        }

        .para {
            p,
            h1 {
                text-align: start;
            }
        }

        .heading {
            margin: 5px 0px;
            font-family: FloodRomanItalic;
            font-size: 44px;
            line-height: 44px;
            text-align: unset;
        }

        .item1 {
            position: relative;
            display: grid;
            grid-template-rows: auto 1fr auto;
            grid-template-columns: 1fr 1fr;
            grid-gap: 3em;
            img {
                grid-row: span 3;
                order: 1;
                width: 100%;
            }
            .card {
                order: 2;
                position: unset;
                margin-left: unset;
                margin-right: unset;
                left: unset;
                right: unset;
                top: unset;
            }
            div {
                order: 3;
                text-align: center;
                align-self: center;
            }
        }
        .item2 {
            position: relative;
            display: grid;
            grid-template-rows: auto 1fr auto;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2em;
            img {
                grid-row: span 3;
                order: 2;
                width: 100%;
            }
            .card {
                order: 1;
                position: unset;
                margin-left: unset;
                margin-right: unset;
                left: unset;
                right: unset;
                top: unset;
            }
            div {
                order: 3;
                text-align: center;
                align-self: center;
            }
        }
    }

    @include desktop {
        //remember changes for tablet view persist here
        padding-top: 4em;
        padding-bottom: 4em;
        grid-template-rows: 0.2fr 1fr 1fr;
        grid-gap: 5em;
        .para {
            p,
            h1 {
                text-align: start;
            }
            p{
                line-height: 2em;
            }
        }
        .heading {
            font-family: FloodRomanItalic;
            font-size: 72px;
            line-height: 72px;
        }
        .item1 {
            position: relative;
            display: grid;
            grid-template-rows: auto 1fr auto;
            grid-template-columns: 1fr 0.1fr 0.9fr;
            grid-gap: 3em;
            img {
                grid-row: span 3;
                grid-column: span 2;
                order: 1;
                width: 100%;
            }
            .card {
                order: 2;
                position: unset;
                margin-left: unset;
                margin-right: unset;
                left: unset;
                right: unset;
                top: unset;
            }
            div {
                order: 3;
                text-align: center;
                align-self: center;
            }
        }
        .item2 {
            position: relative;
            display: grid;
            grid-template-rows: auto 1fr auto;
            grid-template-columns: 1fr 0.1fr 0.9fr;
            grid-gap: 3em;

            img {
                grid-row: span 3;
                grid-column: 2/4;
                order: 2;
                width: 100%;
            }

            .card {
                order: 1;
                position: unset;
                margin-left: unset;
                margin-right: unset;
                left: unset;
                right: unset;
                top: unset;
            }

            div {
                order: 3;
                text-align: center;
                align-self: center;
            }

        }
    }
}

//subscribe section
.subscribe {
    background-color: color(primary);
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    h2 {
        margin-top: 0.5em;
        width: 100%;
    }

    .email {
        background-color: white;

        p {
            font-size: 14px;
            font-weight: normal;
        }
    }

    .sub-button {
        background-color: color(secondary);
        p{
        color: color(primary);
        }
    }

    @include tablet {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 0.7fr 0.3fr;
        grid-gap: 1em;

        .email {
            grid-row: 2/3;
            grid-column: 1/2;
            max-width: unset;
            border-radius: 5%/50%;
            padding-left: 1em;
            padding-right: unset;
            background-color: white;

            p {
                font-size: 16px;
                font-weight: normal;
                margin: unset;
                align-self: center;
            }
        }

        .sub-button {
            grid-row: 2/3;
            grid-column: 2/3;
            background-color: color(secondary);
            color: color(primary);
        }
    }

    @include desktop {
        padding-top: 3em;
        padding-bottom: 3em;
        grid-template-columns: 2fr 1fr 0.5fr;
        grid-gap: 1em;

        .email {
            grid-row: unset;
            grid-column: unset;
            max-width: unset;
            align-self: center;
            border-radius: 5%/50%;
            padding-left: 1em;
        }

        .sub-button {
            align-self: center;
            grid-row: unset;
            grid-column: unset;
        }
    }
}

//footer section
footer {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 8.51%;
    padding-left: 8.51%;
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    grid-gap: 2em;

    div {
        max-width: fit-content;
    }

    .title,
    .contact,
    .learn,
    .follow {
        padding-left: 1.5em
    }
    .head {
        font-size: 11px;
    }

    .contact {
        font-size: 14px;
    }

    ul {
        list-style: none;
        padding-left: 0px;

        a {
            color: color(secondary);
            font-size: 14px;
            color: color(secondary);
        }
    }
    .logo {
        grid-column: span 2;
        justify-self: self-end;
        p {
            margin-top: 0.1em;
            font-family: FloodRomanItalic;
            font-size: 44px;
            line-height: 44px;
        }
    }

    @include tablet {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr auto;
        .contact{
            p{
            font-size: 14px;
            }
        }
        .title {
            grid-row: span 2;
            font-size: 22px;
        }

        .logo {
            grid-column: 3;
        }
    }

    @include desktop {
        display: flex;
        justify-content: space-between;
        .contact{
            p{
            font-size: 14px;
            }
        }
        .head {
            font-size: 14px;
        }

        .line-sep {
            display: block;
        }

        .title {
            grid-row: unset;
            font-size: 22px;
            padding-right: 6em;
        }

        .logo {
            padding-left: 6em;
        }
    }
}
@import 'donation'