section {
  padding: 0px 8.51%;
}

body {
  margin: 0px;
  font-family: Helvetica;
}

p {
  font-size: 14px;
  color: #354463;
}

h1 {
  font-style: bold;
  font-size: 22px;
  color: #354463;
}

h2 {
  font-style: bold;
  font-size: 18px;
  color: #354463;
}

.button {
  background-color: #C1F7D5;
  border-radius: 5% / 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  font-weight: bold;
  font-size: 18px;
}

.button p {
  margin: auto;
}

.fit--button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 15%/50%;
  padding-left: 1em;
  padding-right: 1em;
}

.button--secondary {
  width: 48.71%;
  max-width: 190px;
  border-radius: 15% / 50%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.card {
  width: 51.28%;
  max-width: 200px;
  height: 40px;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #354463;
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

.card--inside {
  width: 51.28%;
  height: 40px;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #ffffff;
  position: relative;
  -webkit-transform: unset;
          transform: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card--inside p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #354463;
}

.twitter-icon {
  background-color: #C1F7D5;
  padding: 0.5em;
  border-radius: 50%/50%;
}

.facebook-icon {
  background-color: #C1F7D5;
  padding: 0.3em 0.7em;
  border-radius: 50%/50%;
}

.line-sep {
  display: none;
}

.logo p {
  margin-top: 0.1em;
  font-family: FloodRomanItalic;
  font-size: 32px;
  line-height: 32px;
}

.header {
  padding-left: 8.51%;
  padding-right: 8.51%;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
  -ms-grid-columns: 64.102% 35.8%;
      grid-template: auto auto/ 64.102% 35.8%;
  margin-bottom: 1.5em;
}

.header .title {
  margin: 0px;
  width: 62.5%;
  position: relative;
  top: 35.15625%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header .menu {
  margin: 0px;
  margin-top: 1.5em;
  padding-left: unset;
  list-style: none;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header .menu a {
  color: #354463;
  font-size: 14px;
  font-weight: lighter;
  color: #354463;
}

.header .donate-today-button {
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .header {
    padding-left: 8.3333%;
    padding-right: 8.3333%;
    height: 88px;
    -ms-grid-rows: 81.8% 18.1%;
    -ms-grid-columns: 52.65% 47.35%;
        grid-template: 81.8% 18.1% / 52.65% 47.35%;
    padding-top: 2.604%;
    padding-bottom: 2.604%;
  }
  .header h1 {
    font-size: 36px;
  }
  .header h2 {
    font-size: 22px;
  }
  .header p {
    font-size: 16px;
  }
  .header .title {
    margin: 0px;
    width: 62.5%;
    position: static;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .header .menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0px;
    position: static;
    padding-left: unset;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .donate-today-button {
    width: 46.2%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    grid-row: span 2;
    grid-column: span 1;
    border-radius: 10% / 50%;
    margin-left: 53.79%;
  }
  .header .menu li {
    display: inline;
  }
}

@media screen and (min-width: 1120px) {
  .header {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 11.11%;
    padding-right: 11.11%;
    height: 128px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 100%;
    -ms-grid-columns: 34.28% 45.08% 20.61%;
        grid-template: 100% / 34.28% 45.08% 20.61%;
    grid-gap: 0px;
  }
  .header h1 {
    font-size: 44px;
  }
  .header h2 {
    font-size: 28px;
  }
  .header p {
    font-size: 20px;
  }
  .header .title {
    width: inherit;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .header .menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-left: unset;
    list-style: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header .donate-today-button {
    width: 69.2%;
    margin-left: 0px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    grid-column: span 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: self-end;
        justify-self: self-end;
  }
}

@font-face {
  font-family: FloodRomanItalic;
  src: url("../fonts/Flood.ttf") format("truetype");
}

.climate-change {
  padding-left: 8.51%;
  padding-right: 8.51%;
  background-image: url("../img/annie-spratt-135307-unsplash.jpg");
  background-size: 1200px;
  background-position: left 41% top -200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 0.9fr 0.1fr;
      grid-template-rows: 1fr 0.9fr 0.1fr;
}

.climate-change .climate-change-heading p {
  font-family: FloodRomanItalic;
  font-size: 44px;
  line-height: 44px;
}

.climate-change .climate-para {
  margin-top: 3em;
  margin-bottom: 0.5em;
  background-color: #eee;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

.climate-change .climate-para .card {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0px;
}

.climate-change .climate-para a {
  color: #354463;
}

.climate-change .climate-para div:nth-child(2) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-size: 22px;
  height: 32.5%;
  padding: 1em;
  text-align: center;
}

.climate-change .climate-para div:nth-child(3) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 1em;
  text-align: center;
  padding-bottom: 2em;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .climate-change {
    padding-left: 8.3333%;
    padding-right: 8.3333%;
    -ms-grid-rows: 1fr 0.8fr 0.2fr;
        grid-template-rows: 1fr 0.8fr 0.2fr;
    background-size: 1400px;
    background-position: left 20% top -200px;
  }
  .climate-change h1 {
    font-size: 36px;
  }
  .climate-change h2 {
    font-size: 22px;
  }
  .climate-change p {
    font-size: 16px;
  }
  .climate-change .climate-para .card {
    margin-left: 2.5em;
  }
}

@media screen and (min-width: 1120px) {
  .climate-change {
    padding-left: 11.11%;
    padding-right: 11.11%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 100%;
    -ms-grid-columns: 40% 50%;
        grid-template: 100% / 40% 50%;
    grid-column-gap: 10em;
    background-size: 2700px;
    background-position: left 10% top -300px;
  }
  .climate-change h1 {
    font-size: 44px;
  }
  .climate-change h2 {
    font-size: 28px;
  }
  .climate-change p {
    font-size: 20px;
  }
  .climate-change .climate-change-heading {
    margin-top: 3em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-top: 0.6em;
    padding-left: 2em;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .climate-change .climate-change-heading p {
    font-family: FloodRomanItalic;
    font-size: 72px;
    line-height: 72px;
  }
  .climate-change .climate-para {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 8em;
    margin-bottom: 8em;
  }
}

.suggestion {
  padding-left: 11.11%;
  padding-right: 11.11%;
  background-color: #C1F7D5;
  height: 328px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 12% 36% 36%;
  -ms-grid-columns: 46% 46%;
      grid-template: 12% 36% 36% / 46% 46%;
  grid-gap: 8%;
}

.suggestion .card {
  grid-column: span 2;
  -ms-grid-column-align: center;
      justify-self: center;
}

.suggestion div h2 {
  margin: 0px;
}

@media screen and (min-width: 1120px) {
  .suggestion {
    height: 240px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 14% 61%;
    -ms-grid-columns: 20% 20% 20% 20%;
        grid-template: 14% 61% / 20% 20% 20% 20%;
    grid-row-gap: 25%;
    grid-column-gap: unset;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .suggestion h1 {
    font-size: 44px;
  }
  .suggestion h2 {
    font-size: 28px;
  }
  .suggestion p {
    font-size: 20px;
  }
  .suggestion .card {
    grid-column: span 4;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .suggestion div h2 {
    margin: 0px;
  }
}

.work {
  background-color: #354463;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em 8.51%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .5fr 1fr 1fr 1fr;
      grid-template-rows: .5fr 1fr 1fr 1fr;
  grid-gap: 5em;
}

.work .work-mission div {
  margin: 0 auto;
  text-align: center;
}

.work .work-mission div h1 {
  color: white;
}

.work img {
  width: 92%;
}

.work .mission {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 1em;
  background-color: #FFFFFF;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr 0.5fr;
      grid-template-rows: auto 1fr 0.5fr;
}

.work .mission img {
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.work .mission div {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (min-width: 768px) {
  .work h1 {
    font-size: 36px;
  }
  .work h2 {
    font-size: 22px;
  }
  .work p {
    font-size: 16px;
  }
  .work .card--inside {
    width: 25%;
    height: 40px;
    -ms-flex-item-align: center;
        align-self: center;
    background-color: #ffffff;
    position: relative;
    -webkit-transform: unset;
            transform: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .work .card--inside p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .work .work-mission div {
    margin: unset;
    text-align: unset;
  }
  .work .mission {
    -ms-grid-rows: 1fr 0.3fr;
        grid-template-rows: 1fr 0.3fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  .work .mission .para {
    grid-row: span 2;
    place-self: center;
  }
  .work .mission .button {
    -ms-grid-column-align: end;
        justify-self: end;
    margin-right: 1.5em;
  }
}

@media screen and (min-width: 1120px) {
  .work {
    padding: 6em 11.11%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: .3fr .7fr;
        grid-template-rows: .3fr .7fr;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-gap: 5em;
  }
  .work h1 {
    font-size: 44px;
  }
  .work h2 {
    font-size: 28px;
  }
  .work p {
    font-size: 20px;
  }
  .work h1 {
    font-size: 44px;
  }
  .work h2 {
    font-size: 28px;
  }
  .work p {
    font-size: 16px;
  }
  .work .card--inside {
    width: 25%;
    height: 40px;
    -ms-flex-item-align: center;
        align-self: center;
    background-color: #ffffff;
    position: relative;
    -webkit-transform: unset;
            transform: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .work .card--inside p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .work img {
    width: 100%;
  }
  .work .work-mission {
    grid-column: span 3;
  }
  .work .work-mission div {
    margin: unset;
    text-align: unset;
  }
  .work .mission {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px;
    background-color: #FFFFFF;
    -ms-grid-rows: auto 1fr 0.3fr;
        grid-template-rows: auto 1fr 0.3fr;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
    grid-gap: unset;
  }
  .work .mission img {
    -ms-grid-column-align: center;
        justify-self: center;
    position: relative;
    -webkit-transform: translate(14%, -20%);
            transform: translate(14%, -20%);
  }
  .work .mission .para {
    grid-row: span 1;
  }
  .work .mission .para h2 {
    margin-top: 0em;
  }
  .work .mission div {
    padding: 0px 1em;
    text-align: unset;
    -ms-flex-line-pack: unset;
        align-content: unset;
    -ms-grid-column-align: unset;
        justify-self: unset;
  }
}

.take-action {
  position: relative;
  background-image: url("../img/did-you-know-background.jpg");
  background-size: 1950px;
  background-position: left 46% top -150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2.7fr (1fr)[4];
      grid-template-rows: 2.7fr repeat(4, 1fr);
  grid-column-gap: 1em;
}

.take-action .button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 15%/50%;
  padding-left: 1em;
  padding-right: 1em;
}

.take-action .hunger-issue {
  position: relative;
}

.take-action .hunger-issue .heading {
  font-family: FloodRomanItalic;
  font-size: 44px;
  line-height: 44px;
}

.take-action .card {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.take-action .did-you-know {
  position: relative;
  background-color: white;
  margin-bottom: 1em;
  padding: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
  -ms-grid-columns: 70% 30%;
      grid-template: 50% 50%/70% 30%;
}

.take-action .did-you-know div {
  grid-row: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.take-action .did-you-know div img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 768px) {
  .take-action {
    -ms-grid-columns: .7fr 1fr;
        grid-template-columns: .7fr 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    padding: 10% 8.3333%;
  }
  .take-action h1 {
    font-size: 36px;
  }
  .take-action h2 {
    font-size: 22px;
  }
  .take-action p {
    font-size: 16px;
  }
  .take-action .hunger-issue {
    grid-row: span 4;
  }
}

@media screen and (min-width: 1120px) {
  .take-action h1 {
    font-size: 44px;
  }
  .take-action h2 {
    font-size: 28px;
  }
  .take-action p {
    font-size: 20px;
  }
  .take-action .did-you-know {
    padding: 0px 1em;
  }
}

.stories {
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1.2fr 0.1fr;
      grid-template-rows: 1fr 1.2fr 0.1fr;
  grid-row-gap: 2em;
}

.stories .story-head-img {
  position: relative;
}

.stories .story-head-img img {
  width: 100%;
}

.stories .story-head-img .card {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0px;
}

.stories .story-head-img .card p {
  color: white;
}

.stories .stories-sec2 {
  background-color: #354463;
  padding: 2em;
  text-align: center;
}

.stories .stories-sec2 h1, .stories .stories-sec2 p {
  color: white;
}

@media screen and (min-width: 768px) {
  .stories {
    -ms-grid-rows: 1fr 0.15fr 0.4fr auto;
        grid-template-rows: 1fr 0.15fr 0.4fr auto;
    -ms-grid-columns: 0.15fr 1fr 0.15fr;
        grid-template-columns: 0.15fr 1fr 0.15fr;
    grid-row-gap: unset;
  }
  .stories h1 {
    font-size: 36px;
  }
  .stories h2 {
    font-size: 22px;
  }
  .stories p {
    font-size: 16px;
  }
  .stories .story-head-img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    position: relative;
  }
  .stories .story-head-img img {
    width: 100%;
  }
  .stories .story-head-img .card {
    position: absolute;
    margin-left: 2em;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0px;
  }
  .stories .stories-sec2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    z-index: 1;
    background-color: #354463;
    padding: 2em;
    text-align: center;
  }
  .stories .stories-sec2 h1 {
    font-size: 22px;
  }
  .stories .button {
    margin-top: 3em;
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-column: 2;
        grid-column-start: 2;
    width: 156px;
    -ms-grid-column-align: unset;
        justify-self: unset;
  }
}

@media screen and (min-width: 1120px) {
  .stories {
    -ms-grid-rows: 0.33fr 1fr 0.33fr;
        grid-template-rows: 0.33fr 1fr 0.33fr;
    -ms-grid-columns: 0.8fr 0.2fr 1fr;
        grid-template-columns: 0.8fr 0.2fr 1fr;
    grid-row-gap: unset;
  }
  .stories h1 {
    font-size: 44px;
  }
  .stories h2 {
    font-size: 28px;
  }
  .stories p {
    font-size: 20px;
  }
  .stories .story-head-img {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    position: relative;
  }
  .stories .story-head-img img {
    width: 100%;
  }
  .stories .story-head-img .card {
    position: absolute;
    margin-left: 2em;
    margin-right: auto;
    left: 2em;
    right: 0;
    top: 0px;
  }
  .stories .stories-sec2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    z-index: 1;
    background-color: #354463;
    padding: 2em;
    text-align: center;
  }
  .stories .stories-sec2 h1 {
    font-size: 44px;
  }
  .stories .button {
    margin-top: 3em;
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    width: 156px;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.news-events {
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #354463;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.5fr 1fr 1fr;
      grid-template-rows: 0.5fr 1fr 1fr;
  grid-gap: 4em;
}

.news-events .heading {
  font-family: FloodRomanItalic;
  font-size: 44px;
  line-height: 44px;
  text-align: center;
  color: white;
}

.news-events .event-items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-events .event-items p {
  color: white;
}

.news-events .event-items h1 {
  color: white;
  font-size: 44px;
}

.news-events .event-items img {
  width: 100%;
}

.news-events .event-items .button p {
  color: #354463;
}

.news-events .event-items .card {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.news-events .event-items .card p {
  color: #354463;
}

.news-events .event-items div {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 768px) {
  .news-events {
    padding-top: 3em;
    padding-bottom: 3em;
    -ms-grid-rows: 0.2fr 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 1fr;
    grid-gap: 4em;
  }
  .news-events h1 {
    font-size: 36px;
  }
  .news-events h2 {
    font-size: 22px;
  }
  .news-events p {
    font-size: 16px;
  }
  .news-events .button {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .news-events .para p,
  .news-events .para h1 {
    text-align: start;
  }
  .news-events .heading {
    margin: 5px 0px;
    font-family: FloodRomanItalic;
    font-size: 44px;
    line-height: 44px;
    text-align: unset;
  }
  .news-events .item1 {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
  }
  .news-events .item1 img {
    grid-row: span 3;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .news-events .item1 .card {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: unset;
    margin-left: unset;
    margin-right: unset;
    left: unset;
    right: unset;
    top: unset;
  }
  .news-events .item1 div {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .news-events .item2 {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
  .news-events .item2 img {
    grid-row: span 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .news-events .item2 .card {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: unset;
    margin-left: unset;
    margin-right: unset;
    left: unset;
    right: unset;
    top: unset;
  }
  .news-events .item2 div {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 1120px) {
  .news-events {
    padding-top: 4em;
    padding-bottom: 4em;
    -ms-grid-rows: 0.2fr 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 1fr;
    grid-gap: 5em;
  }
  .news-events h1 {
    font-size: 44px;
  }
  .news-events h2 {
    font-size: 28px;
  }
  .news-events p {
    font-size: 20px;
  }
  .news-events .para p,
  .news-events .para h1 {
    text-align: start;
  }
  .news-events .para p {
    line-height: 2em;
  }
  .news-events .heading {
    font-family: FloodRomanItalic;
    font-size: 72px;
    line-height: 72px;
  }
  .news-events .item1 {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
    -ms-grid-columns: 1fr 0.1fr 0.9fr;
        grid-template-columns: 1fr 0.1fr 0.9fr;
    grid-gap: 3em;
  }
  .news-events .item1 img {
    grid-row: span 3;
    grid-column: span 2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .news-events .item1 .card {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: unset;
    margin-left: unset;
    margin-right: unset;
    left: unset;
    right: unset;
    top: unset;
  }
  .news-events .item1 div {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .news-events .item2 {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
    -ms-grid-columns: 1fr 0.1fr 0.9fr;
        grid-template-columns: 1fr 0.1fr 0.9fr;
    grid-gap: 3em;
  }
  .news-events .item2 img {
    grid-row: span 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .news-events .item2 .card {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: unset;
    margin-left: unset;
    margin-right: unset;
    left: unset;
    right: unset;
    top: unset;
  }
  .news-events .item2 div {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.subscribe {
  background-color: #C1F7D5;
  padding-top: 1em;
  padding-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe h2 {
  margin-top: 0.5em;
  width: 100%;
}

.subscribe .email {
  background-color: white;
}

.subscribe .email p {
  font-size: 14px;
  font-weight: normal;
}

.subscribe .sub-button {
  background-color: #354463;
}

.subscribe .sub-button p {
  color: #C1F7D5;
}

@media screen and (min-width: 768px) {
  .subscribe {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 0.7fr 0.3fr;
        grid-template-columns: 0.7fr 0.3fr;
    grid-gap: 1em;
  }
  .subscribe h1 {
    font-size: 36px;
  }
  .subscribe h2 {
    font-size: 22px;
  }
  .subscribe p {
    font-size: 16px;
  }
  .subscribe .email {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    max-width: unset;
    border-radius: 5%/50%;
    padding-left: 1em;
    padding-right: unset;
    background-color: white;
  }
  .subscribe .email p {
    font-size: 16px;
    font-weight: normal;
    margin: unset;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .subscribe .sub-button {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    background-color: #354463;
    color: #C1F7D5;
  }
}

@media screen and (min-width: 1120px) {
  .subscribe {
    padding-top: 3em;
    padding-bottom: 3em;
    -ms-grid-columns: 2fr 1fr 0.5fr;
        grid-template-columns: 2fr 1fr 0.5fr;
    grid-gap: 1em;
  }
  .subscribe h1 {
    font-size: 44px;
  }
  .subscribe h2 {
    font-size: 28px;
  }
  .subscribe p {
    font-size: 20px;
  }
  .subscribe .email {
    grid-row: unset;
    grid-column: unset;
    max-width: unset;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 5%/50%;
    padding-left: 1em;
  }
  .subscribe .sub-button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    grid-row: unset;
    grid-column: unset;
  }
}

footer {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 8.51%;
  padding-left: 8.51%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr auto;
      grid-template-rows: 1fr 1fr auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: 2em;
}

footer div {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

footer .title,
footer .contact,
footer .learn,
footer .follow {
  padding-left: 1.5em;
}

footer .head {
  font-size: 11px;
}

footer .contact {
  font-size: 14px;
}

footer ul {
  list-style: none;
  padding-left: 0px;
}

footer ul a {
  color: #354463;
  font-size: 14px;
  color: #354463;
}

footer .logo {
  grid-column: span 2;
  -ms-grid-column-align: self-end;
      justify-self: self-end;
}

footer .logo p {
  margin-top: 0.1em;
  font-family: FloodRomanItalic;
  font-size: 44px;
  line-height: 44px;
}

@media screen and (min-width: 768px) {
  footer {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr auto;
        grid-template-columns: 1fr 1fr auto;
  }
  footer h1 {
    font-size: 36px;
  }
  footer h2 {
    font-size: 22px;
  }
  footer p {
    font-size: 16px;
  }
  footer .contact p {
    font-size: 14px;
  }
  footer .title {
    grid-row: span 2;
    font-size: 22px;
  }
  footer .logo {
    -ms-grid-column: 3;
    grid-column: 3;
  }
}

@media screen and (min-width: 1120px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer h1 {
    font-size: 44px;
  }
  footer h2 {
    font-size: 28px;
  }
  footer p {
    font-size: 20px;
  }
  footer .contact p {
    font-size: 14px;
  }
  footer .head {
    font-size: 14px;
  }
  footer .line-sep {
    display: block;
  }
  footer .title {
    grid-row: unset;
    font-size: 22px;
    padding-right: 6em;
  }
  footer .logo {
    padding-left: 6em;
  }
}

p {
  font-size: 14px;
  color: #354463;
}

h1 {
  font-style: bold;
  font-size: 22px;
  color: #354463;
}

h2 {
  font-style: bold;
  font-size: 18px;
  color: #354463;
}

.donation-header {
  color: #354463;
  padding: 1em 0px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .donation-header h1 {
    font-size: 36px;
  }
  .donation-header h2 {
    font-size: 22px;
  }
  .donation-header p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1120px) {
  .donation-header h1 {
    font-size: 44px;
  }
  .donation-header h2 {
    font-size: 28px;
  }
  .donation-header p {
    font-size: 20px;
  }
}

.donation-form {
  padding-top: 6em;
  padding-bottom: 6em;
  background-image: url("../img/donation/annie-spratt-427340-unsplash@2x.png");
  background-size: 2400px;
  color: white;
}

.donation-form h1, .donation-form h2 {
  color: white;
}

.donation-form .logo p {
  color: white;
}

.donation-form form {
  background-color: #354463;
  z-index: 1;
  padding: 0px 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[11];
      grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 1em;
}

.donation-form form div {
  width: 100%;
}

.donation-form form .state-zip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.donation-form form .address,
.donation-form form .email,
.donation-form form .credit-card,
.donation-form form input[name="Street Address"],
.donation-form form input[name="Email"],
.donation-form form input[name="card number"],
.donation-form form input[name="card number"],
.donation-form form .guide,
.donation-form form .button {
  grid-column: span 2;
  width: 100%;
}

.donation-form form input[name="State"],
.donation-form form input[name="Zip"],
.donation-form form input[type="date"],
.donation-form form input[name="CVC"] {
  width: 40%;
}

.donation-form form h1 {
  grid-column: span 2;
}

.donation-form form div {
  position: relative;
}

.donation-form form div label {
  font-size: 16px;
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  color: #C1F7D5;
  -webkit-transition: 1s;
  transition: 1s;
}

.donation-form form .state-label {
  position: relative;
}

.donation-form form select {
  background-color: #354463;
  outline: none;
  border: none;
  color: white;
  width: 100%;
}

.donation-form form input {
  height: 2em;
  width: 100%;
  border: none;
  background-color: #354463;
  border-bottom: 2px solid white;
}

.donation-form form input:focus ~ label {
  top: -20px;
  font-size: 11px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid #adacac;
}

.donation-form form input:valid ~ label {
  top: -20px;
  font-size: 11px;
  font-weight: bold;
  border-bottom: 2px solid #adacac;
}

.donation-form form input:focus {
  outline: none;
  border-bottom: 2px solid #C1F7D5;
}

.donation-form form a {
  color: #C1F7D5;
}

@media screen and (min-width: 768px) {
  .donation-form h1 {
    font-size: 36px;
  }
  .donation-form h2 {
    font-size: 22px;
  }
  .donation-form p {
    font-size: 16px;
  }
  .donation-form .logo p {
    font-size: 44px;
    line-height: 44px;
  }
  .donation-form form .button {
    grid-column: span 1;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    height: 56px;
  }
  .donation-form form .button p {
    font-size: 22px;
  }
  .donation-form form a {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .donation-form form label {
    font-size: 20px;
  }
  .donation-form form input:focus ~ label {
    font-size: 14px;
  }
  .donation-form form input:valid ~ label {
    font-size: 14px;
  }
}

@media screen and (min-width: 1120px) {
  .donation-form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6fr 4fr;
        grid-template-columns: 6fr 4fr;
    grid-column-gap: 4em;
  }
  .donation-form h1 {
    font-size: 44px;
  }
  .donation-form h2 {
    font-size: 28px;
  }
  .donation-form p {
    font-size: 20px;
  }
  .donation-form .logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .donation-form .logo p {
    font-size: 72px;
    line-height: 72px;
  }
}
/*# sourceMappingURL=non-profit.css.map */